.cart-page-wrapper {
    max-width: 1800px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 50px;
}

.cart-page-wrapper h1 {
    font-size: 3rem;
}

.cart-item-container {
    margin: 25px 0;
}

.cart-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total {
    font-size: 2rem;
}

@media (max-width: 550px) {
    .cart-footer {
        flex-direction: column;
        align-items: stretch;
    }

    .cart-total {
        text-align: center;
        margin: 15px 0;
    }
}