.product-wrapper {
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;
    margin-bottom: 50px;
}

.product-item {
    background-color: var(--dark);
    margin: 50px auto 100px auto;
    padding: 50px 100px 0;
}

.hp-product-wrapper-i {
    position: relative;
    top: 50px;
}

.hp-product-i {
    transition: all .3s;
    height: 300px;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.hp-img-wrapper-i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-product-img-i {
    max-width: 400px;
}

.hp-get-book-i {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hp-get-book-i h3 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--dark);
}

.hp-get-book-i .hp-price-i {
    text-align: center;
    padding: 30px;
}

.hp-get-btn-i {
    display: flex;
    justify-content: center;
}

.desc-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tile-text-i {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    width: 75%;
}

.tile-text-i h2 {
    font-size: 2.2rem;
}

.tile-i {
    position: relative;
    min-height: 420px;
}

.tile-bg-1-i {
    background-color: var(--secondary);
}

.tile-img-wrapper-i {
    transition: all .3s;
    width: 70%;
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.tile-1-btn-wrapper-i {
    transition: all .3s;
    position: absolute;
    right: 25px;
    bottom: 30px;
}

@media (max-width: 1200px) {
    .tile-text-i {
        width: 100%;
    }

    .tile-img-wrapper-i {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 900px) {
    .desc-wrapper {
        grid-template-columns: 1fr;
    }
    .tile-img-wrapper-i {
        top: 25%;
    }

    .tile-i {
        margin-top: 75px;
    }
}

@media (max-width: 650px) {
    .tile-i { 
        margin-top: 0;
    }

    .tile-img-wrapper-i {
        top: 50%;
    }
}

@media (max-width: 1050px) {
    .hp-product-i {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding: 25px;
    }
}

@media (max-width: 750px) {
    .product-item {
        padding: 0 50px;
    }
    
    .hp-article-i header {
        flex-direction: column;
    }

    .hp-article-i header h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .product-wrapper {
        padding: 0;
    }

    .product-item {
        padding: 0 20px;
        width: 90%;
    }
}